<h1>Listing unittests</h1>

<div>
  <% for unittest in @unittests %>
    <% content_tag_for :span, unittest, :class => "in_place_editor_field" do %><%= h(unittest.title) %><% end %>
    <%= in_place_editor(dom_id(unittest), :url => set_unittest_title_url(unittest)) %>
  <% end %>  
</div>

<%= link_to 'New unittest', new_unittest_path %>
