<h1>Listing unittests</h1>

<div>
  <% for unittest in @unittests %>
    Hi, here is the full url for UnitTest #<%= unittest.id %>: 
    <%= full_url(unittest) %>
  <% end %>  
</div>

<%= link_to 'New unittest', new_unittest_path %>
